// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

// * {
//   box-sizing: border-box;
// }

// .container{
//     display: flex;
//     align-items: flex-start;
//     align-content: space-between;
//     justify-content: center;
// }

// .page-contain {
//   display: flex;
//   min-height: 100vh;
//   align-items: center;
//   justify-content: center;
//   padding: 2em;
// }

// .data-card {
//   display: flex;
//   flex-direction: column;
//   max-width: 20.75em;
//   min-height: 20.75em;
//   overflow: hidden;
//   border-radius: .5em;
//   text-decoration: none;
//   background: white;
//   margin: 1em;
//   padding: 2.75em 2.5em;
//   box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
//   transition: transform .45s ease, background .45s ease;
  
//   h3 {
//     color: #2E3C40;
//     font-size: 3.5em;
//     font-weight: 600;
//     line-height: 1;
//     padding-bottom: .5em;
//     margin: 0 0 0.142857143em;
//     border-bottom: 2px solid #753BBD;
//     transition: color .45s ease, border .45s ease;
//   }

//   h4 {
//     color: #627084;
//     text-transform: uppercase;
//     font-size: 1.125em;
//     font-weight: 700;
//     line-height: 1;
//     letter-spacing: 0.1em;
//     margin: 0 0 1.777777778em;
//     transition: color .45s ease;
//   }

//   p {
//     opacity: 0;
//     color: #FFFFFF;
//     font-weight: 600;
//     line-height: 1.8;
//     margin: 0 0 1.25em;
//     transform: translateY(-1em);
//     transition: opacity .45s ease, transform .5s ease;
//   }

//   .link-text {
//     display: block;
//     color: #753BBD;
//     font-size: 1.125em;
//     font-weight: 600;
//     line-height: 1.2;
//     margin: auto 0 0;
//     transition: color .45s ease;

//     svg {
//       margin-left: .5em;
//       transition: transform .6s ease;
      
//       path {
//         transition: fill .45s ease;
//       }
//     }
//   }
  
//   &:hover {
//     background: #753BBD;
//     transform: scale(1.02);
    
//     h3 {
//       color: #FFFFFF;
//       border-bottom-color: #A754C4;
//     }

//     h4 {
//       color: #FFFFFF;
//     }

//     p {
//       opacity: 1;
//       transform: none;
//     }

//     .link-text {
//       color: #FFFFFF;

//       svg {
//         animation: point 1.25s infinite alternate;
        
//         path {
//           fill: #FFFFFF;
//         }
//       }
//     }
//   }
// }

// @keyframes point {
//   0% {
//    transform: translateX(0);
//   }
//   100% {
//     transform: translateX(.125em);
//   }
// }


*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: #2E3C40;
  font-family: 'Poppins','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.btn {
  background-color: white;
  border: 1px solid ;
  //border-radius: 1rem;
  color: #753BBD;
  padding: 0.5rem;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
 // overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: #2E3C40;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

