<div class="container">
   
    <input id="toggle" type="checkbox">


    <label class="toggle-container" for="toggle">

        <span class="button button-toggle"></span>
    </label>

    <!-- The Nav Menu -->
    <nav class="nav">
        <a class="nav-item" href="">Dashboard</a>
    </nav>
    
    <h1>Your Amazing English!</h1>
    <div >
        <div style="text-align: center;"><p>A primeira dica importante é que para aproveitar melhor o app você esteja em um lugar silencioso, pois ele vai captar sons externos.</p></div>
        <router-outlet></router-outlet>
    </div>
</div>