<div class="container">
   
    <input id="toggle" type="checkbox">


    <label class="toggle-container" for="toggle">

        <span class="button button-toggle"></span>
    </label>

    <!-- The Nav Menu -->
    <nav class="nav">
        <a class="nav-item" href="">Dashboard</a>
        <a class="nav-item" href="">Exercises</a>
        <a class="nav-item" href="">Logout</a>
    </nav>
    
    <h1>Your Amazing English!</h1>
    <!-- Dummy Content -->
    <section class="dummy-content">
        <!-- <div class="circle"></div>
        <div class="text">
            <span></span><span></span>
        </div> -->
        <div class="square-top">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>