<div class="container">
   
    <input id="toggle" type="checkbox">


    <label class="toggle-container" for="toggle">

        <span class="button button-toggle"></span>
    </label>

    <!-- The Nav Menu -->
    <nav class="nav">
        <a class="nav-item" href="">Dashboard</a>
        <a class="nav-item" href="exercise">Exercises</a>
        <a class="nav-item" href="">Logout</a>
    </nav>
    
    <h1>Your Amazing English!</h1>
    <!-- Dummy Content -->
    <section class="dummy-content">
            <router-outlet></router-outlet>
    </section>
</div>